body {
  font-family: Arial, sans-serif;
  background: #ffe6f2;
  padding: 20px;
}

.container {
  max-width: 700px;
  background: white;
  padding: 20px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(255, 105, 180, 0.4);
}

h1 {
  text-align: center;
  color: #ff3399;
}

input, select, button, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ff99cc;
  border-radius: 6px;
}

button {
  cursor: pointer;
  border: none;
  background: #ff4da6;
  color: white;
  border-radius: 6px;
  transition: 0.3s;
}

button:hover {
  background: #ff1a8c;
}

button.delete {
  background: #ff3366;
}

button.edit {
  background: #ff80bf;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th {
  background: #ff66b2;
  color: white;
}

th, td {
  padding: 12px;
  border: 1px solid #ffb3d9;
}

a.button {
  display: inline-block;
  padding: 10px 15px;
  background: #ff4da6;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  margin-bottom: 15px;
}

a.button.secondary {
  background: #ff80bf;
}

img {
  width: 15em;
  display: block; 
  margin: 0 auto;
}